*
{
  margin: 0;
  padding: 0;
}
/* Navigation */
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}
/*---- 로고 크기 설정-------*/
.navbar-brand
{
	padding-left: 130px;
}
.navbar-brand img
{
  height: 70px;
  padding-left: 0px;
}
.navbar-nav
{
	padding-right: 100px;
}
.navbar-nav li
{
  padding: 0 20px;
}
.navbar-nav li a
{
  float: right;
  text-align: left;
}

#nav-bar ul li a:hover
{
  color: #007bff!important;
  font-weight: bold;
}
.navbar
{
  background: #007bff
}
.navbar-toggler
{
  border: none!important
}
.navi-link
{
  color: #555 !important;
  font-weight: 600;
  font-size: 50px;
}


/* Main 메인화면 */
#main
{
    background-color: #fff;
	/*background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../img/);*/
    background-position: center;
    background-size: cover;
	background-attachment: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-img
{
	width: 420px;
	margin-top: 40px;
	margin-bottom: 50px;
}
#main-bottom
{
	background-image: /*linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),*/url("../img/main-bottom.jpg");
	filter : grayscale(100%);
	-webkit-filter : grayscale(100%);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 120px;
}
.main-bottom-text
{
	letter-spacing: 0.6px;
}
#main-bottom p
{
	color: #fff;
	font-size: 15px;
}
#main-bottom span
{
	font-size: 18px!important;
	font-family: s;
}


/* About 소개 */
#about
{
    background-color: #000;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/about-bg.jpg);
    background-position: center;
    background-size: cover;
	background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#about h1
{
    color: #fff;
    text-align: center;
	margin-bottom: 20px;
}
#about h1::after
{
  content: ' ';
  background: #fff;
  display: block;
  height: 3px;
  width: 330px;
  margin: 10px auto 5px;
}
.about-content
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 30px;
	color: #fff;
}
.about-content span
{
	font-size: 25px;
}
#about-pool span
{
	color: #fff;
	font-size: 25px;
}
.about-content:hover
{
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	transition: 0.8sec;
}
.about-content2
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 30px;
	color: #fff;
}
.about-content2 img:hover
{
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
	transition: 0.5sec;
}
#about-content1
{
	padding: 20px;
	text-align: left!important;
}
#about-content2
{
	padding: 20px;
	text-align: right!important;
}
#about-pool
{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url("../img/pool-6.jpg");
	background-color: #E6E6E6;
    background-position: center;
    background-size: cover;
	background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#about-content3
{
	text-align: center!important;
	color: #000;
}
#about-content3:hover
{
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
	transition: 0.5sec;
}
#about-content3 h5
{
	color: #fff;
}
#about-content3 p
{
	font-size: 18px;
	color: #fff;
}
#pool-img
{
	padding: 20px;
}
.pool-img img
{
	width: 100%;
}
.pool-img img:hover
{
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
	transition: 0.7sec;
}

/* pool-info 수영장 */
#pool-info
{
  /*background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../img/Water surface - Free Video - Footage_1.gif");*/
  background-color: #E7E7E7;
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 30px;
  padding-bottom: 50px;
}
#pool-info h1
{
    color: #343434;
	font-weight: bold;
    text-align: center;
	margin-bottom: 20px;
}
#pool-info h1::after
{
  content: ' ';
  background: #343434;
  display: block;
  height: 3px;
  width: 220px;
  margin: 10px auto 5px;
}
.pool-info-text
{
	padding: 0px 0px;
}
.pool-option
{
	color: #fff;
	padding: 20px;
	margin: 20px auto;
	display: inline;
	float: left;
	width: 100%;
	transition: 0.5s;
	text-align: center;
	border-radius: 15px;
}
.pool-option:hover
{
	box-shadow: 0 2px 20px #333;
}
.pool-option-head
{
	padding: 10px 5px 0px 5px;
	font-weight: bold;
}
.pool-option-head h4
{
	font-family: 'Jua', sans-serif;
	letter-spacing: 2px;
	font-size: 30px;
}
.pool-option-head span
{
	font-size: 20px;
	line-height: 40px;
}
.pool-option-content p
{
	font-size: 16px;
	text-align: center;
}
#pool-info h2
{
	color: #000;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
}
.hr-sect
{
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.8);
	margin: px 0px;
}
.hr-sect::before,.hr-sect::after
{
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}
#pool-item
{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../img/Water surface - Free Video - Footage_1.gif");
	background-color: #efefef;
	background-size: cover;
	background-position: center;
	color: #000 !important;
	background-attachment: fixed;
	padding-top: 30px;
	padding-bottom: 50px;
}
#pool-item h2
{
	color: #fff;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;
}
.hr-sect2
{
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #fff;
	margin: px 0px;
}
.hr-sect2::before,.hr-sect2::after
{
	content: "";
	flex-grow: 1;
	background: #fff;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}
.pool-item
{
	padding-top: 20px;
}
.pool-item>img
{
	border: #007EB6 solid 5px;
	border-radius: 35px;
}
.pool-item p
{
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 21px;
	text-align: center;
	font-family: 'Jua', sans-serif;
	letter-spacing: 2px;
}


/* Portfolio 포트폴리오 */
#portfolio
{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../img/po-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 30px;
  padding-bottom: 50px;
}
#portfolio h1
{
  text-align: center;
  color: #efefef !important;
  padding-bottom: 10px;
	letter-spacing: 2px;
}
#portfolio h1::after
{
  content: ' ';
  background: #efefef;
  display: block;
  height: 3px;
  width: 150px;
  margin: 10px auto 5px;
}
#portfolio p
{
	color: #efefef !important;
	margin-top: 100px;
	font-size: 20px;
	height: 500px;
}


/*
#portfolio img
{
	height: 300px;
	width: auto;
	background: url(http://s3.amazonaws.com/blog.invisionapp.com/uploads/2016/05/product-strategy-hero.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
.pofol-img
{
	padding: 10px;
}
.pofol-img img
{
	width: 100%;
}
.pofol-img img:hover
{
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
	transition: 0.7sec;
}
*/

/* Contact 문의하기 */
#contect
{
  background: #d8d8d8;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}
#contect h1
{
  text-align: center;
  color: #000 !important;
  padding-bottom: 40px;
}
#contect h1::after
{
  content: ' ';
  background: #000;
  display: block;
  height: 3px;
  width: 190px;
  margin: 10px auto 5px;
}
#contect h3
{
	font-weight: bold;
	margin-left: 30px;
}
.btn-primary
{
	margin-left: 70px;
}
.contact-form
{
  padding: 15px;
}
.form-control
{
  border-radius: 0 !important;
  border: none !important;
}
::placeholder
{
  color: #999 !important;
}
.follow
{
  background: #fff;
  border-radius: 7px;
  padding: 30px;
  margin: 23px;
}
.contact-info .fa
{
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}
.kakaotalk
{
    margin-left: 10px;
    font-size: 30px;
}


/* Footer */
#footer
{
  background: #404040;
  color: #fff;
  padding: 16px;
}
#footer .container
{
    border-top: 3px #fff;  /*왜 안돼..*/
}
.main-img {
}
